<form class="my-form">
  <mat-form-field class="my-input" color="white">
    <mat-label>Nombre</mat-label>
    <mat-icon matPrefix class="my-icon">account_circle</mat-icon>
    <input matInput/>
  </mat-form-field>
  <mat-form-field class="my-input" color="white">
    <mat-label>Número de teléfono</mat-label>
    <mat-icon matPrefix class="my-icon">call</mat-icon>
    <input matInput placeholder="Ex. 3152994765" />
  </mat-form-field>
  <mat-form-field class="my-input" color="white">
    <mat-label>Contraseña</mat-label>
    <mat-icon matPrefix class="my-icon">lock</mat-icon>
    <input matInput type="password"/>
  </mat-form-field>
  <mat-form-field class="my-input" color="white">
    <mat-label>Confirmar Contraseña</mat-label>
    <mat-icon matPrefix class="my-icon">lock</mat-icon>
    <input matInput type="password"/>
  </mat-form-field>
  <button mat-raised-button color="primary" class="my-button">Sign Up</button>
</form>
