.main-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  .profile-container {
    margin: 1rem;
    max-width: 100%;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-info {
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 1rem;
      width: 100%;
      font-size: 30px;
      background-color: #535fee;
      border-radius: 1rem;
      .user-name,
      .money {
        margin: 0;
      }
    }
    .actions-info {
      margin: 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      width: 100%;
      .action-container{
        width: 100%;
      }
    }
  }
}
