<main class="main-background">
  <div class="profile-container">
    <div class="main-info">
      <h1 class="user-name">Bienvenido {{ user?.nombre }}</h1>
      <p class="money">Saldo: {{ user?.monto | currency }}</p>
    </div>
    <div class="actions-info" *ngIf="!actionButton">
      <app-main-buttons
        *ngFor="let button of buttons"
        [info]="button"
        (action)="getAction($event)"
      ></app-main-buttons>
    </div>
    <div class="actions-info" *ngIf="actionButton === 'Mandar dinero'">
      <app-send-money
        class="action-container"
        (info)="getAction($event)"
      ></app-send-money>
    </div>
    <div class="actions-info" *ngIf="actionButton === 'Sacar dinero'">
      <app-withdraw-money
        class="action-container"
        (info)="getAction($event)"
      ></app-withdraw-money>
    </div>
    <div class="actions-info" *ngIf="actionButton === 'Historial'">
      <app-history
        class="action-container"
        (info)="getAction($event)"
      ></app-history>
    </div>
    <div class="actions-info" *ngIf="actionButton === 'Colchón'">
      <app-couch
        class="action-container"
        (info)="getAction($event)"
      ></app-couch>
    </div>
    <div class="actions-info" *ngIf="actionButton === 'Bolsillos'">
      <app-pockets
        class="action-container"
        (info)="getAction($event)"
      ></app-pockets>
    </div>
  </div>
</main>
