<main class="main-background">
  <div class="profile-container">
    <div class="main-info">
      <h1 class="user-name">Bienvenido Daniel Alejandro Leon</h1>
      <p class="money">Saldo: {{ 69420 | currency }}</p>
    </div>
    <div class="actions-info" *ngIf="!actionButton">
      <app-main-buttons
        *ngFor="let button of buttons"
        [info]="button"
        (action)="getAction($event)"
      ></app-main-buttons>
    </div>
    <div class="actions-info" *ngIf="actionButton === 'Mandar dinero'">
      <app-send-money
        class="action-container"
        (info)="getAction($event)"
      ></app-send-money>
    </div>
    <div class="actions-info" *ngIf="actionButton === 'Sacar dinero'">
      <app-withdraw-money
        class="action-container"
        (info)="getAction($event)"
      ></app-withdraw-money>
    </div>
    <div class="actions-info" *ngIf="actionButton === 'Historial'">
      <app-history
        class="action-container"
        (info)="getAction($event)"
      ></app-history>
    </div>
  </div>
</main>
