<nav class="navbar">
  <div class="container">
    <img src="assets/logo.png" class="main-logo" alt="Logo">
    <img src="assets/res-logo.png" class="responsive-logo" alt="Logo">
    <div class="navbar-options">
      <ul class="items">
        <li class="nav-item"><a class="login-button" routerLink="/login">Ingresa</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="container-row">
    <div class="hero-text">
        <div class="content">
          <h2 class="hero-title">Maneja tu dinero de forma segura con Neo!</h2>
            <p class="hero-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel nulla aspernatur voluptatum ea assumenda beatae quae veniam sequi temporibus? Sit ipsa facere, tempore doloremque debitis minima nihil laborum cum rem!</p>
            <div class="main-buttons">
              <button class="primary-button">Empieza Ahora</button>
            </div>
        </div>
    </div>
    <div class="hero-img">
      <img src="assets/hero-image.png" alt="">
    </div>
  </div>
</div>
