.navbar {
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 1rem;
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    .main-logo {
      width: 10rem;
    }
    .responsive-logo {
      width: 5rem;
      display: none;
    }
    .navbar-options {
      display: flex;
      width: 100%;
      .items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .nav-item {
          font-family: "Poppins", sans-serif;
          .login-button {
            background: #fff;
            color: #191c1e;
            padding: 5px 20px;
            margin-left: 30px;
            border-radius: 30px;
            letter-spacing: 1px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
          }
          .login-button:hover {
            color: #007bff;
          }
        }
      }
    }
  }
}
.container {
  position: relative;
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 30px auto;
  .container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    .hero-text {
      width: 58.333333%;
      .hero-title {
        font-size: 42px;
        line-height: 60px;
        margin-bottom: 25px;
        font-weight: 600;
      }
      .hero-paragraph {
        color: #fff;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
      }
      .main-buttons {
        .primary-button {
          margin-top: 40px;
          margin-right: 20px;
        }
      }
    }
    .hero-img {
      width: 41.666667%;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 950px) {
  .container {
    .container-row {
      justify-content: center;
      .hero-text {
        text-align: center;
        width: 100%;
        margin-bottom: 2rem;
        .main-buttons {
          .primary-button {
            margin: 0;
            margin-top: 1rem;
          }
        }
      }
      .hero-img {
        width: 80%;
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar{
    .container{
      .main-logo {
        display: none;
      }
      .responsive-logo {
        display: block;
      }
    }
  }
}
