<section class="section">
  <div class="container">
    <div class="section-header">
      <p class="section-subtitle">Features</p>
      <h2 class="section-title">Amazing features</h2>
    </div>
    <div class="section-content">
      <div class="feature-container">
        <div class="feature-logo">
          <img src="../../../assets/speed.svg" alt="Speed">
        </div>
        <div class="feature-text">
          <h3>Super Fast Speed</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi velit qui accusamus! Consectetur temporibus commodi quos veritatis repellendus accusamus dignissimos officia at saepe fugit a eius inventore, pariatur illo vero.</p>
        </div>
      </div>
      <div class="feature-container">
        <div class="feature-logo">
          <img src="../../../assets/speed.svg" alt="Speed">
        </div>
        <div class="feature-text">
          <h3>User Friendly</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi velit qui accusamus! Consectetur temporibus commodi quos veritatis repellendus accusamus dignissimos officia at saepe fugit a eius inventore, pariatur illo vero.</p>
        </div>
      </div>
      <div class="feature-container">
        <div class="feature-logo">
          <img src="../../../assets/speed.svg" alt="Speed">
        </div>
        <div class="feature-text">
          <h3>Secure</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi velit qui accusamus! Consectetur temporibus commodi quos veritatis repellendus accusamus dignissimos officia at saepe fugit a eius inventore, pariatur illo vero.</p>
        </div>
      </div>
      <div class="feature-container">
        <div class="feature-logo">
          <img src="../../../assets/speed.svg" alt="Speed">
        </div>
        <div class="feature-text">
          <h3>Awesome Rating</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi velit qui accusamus! Consectetur temporibus commodi quos veritatis repellendus accusamus dignissimos officia at saepe fugit a eius inventore, pariatur illo vero.</p>
        </div>
      </div>
    </div>
  </div>
</section>
