<main class="main-background">
  <div class="login-register-container">
    <div class="container-header">
      <figure class="img-container">
        <img src="assets/black-logo.png" alt="Logo" />
      </figure>
      <h1 class="container-title">Login / Sign Up</h1>
    </div>
    <div class="container-form">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Login">
          <app-login></app-login>
        </mat-tab>
        <mat-tab label="Sign Up">
          <app-register></app-register>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</main>
