<div class="action-container">
  <div class="action-header">
    <h1>Retirar</h1>
    <p>Ingresa la cantidad de dinero que deseas retirar.</p>
  </div>
  <div class="action-form">
    <form [formGroup]="form" (ngSubmit)="retirar()">
      <mat-form-field class="my-input">
        <mat-label>Cantidad de dinero</mat-label>
        <mat-icon matPrefix class="my-icon">paid</mat-icon>
        <input
          matInput
          placeholder="Ingresa la cantidad de dinero que desea sacar"
          type="number"
          min="1000"
          formControlName="monto"
        />
        <mat-error *ngIf="form.controls.monto.hasError('required')"
          >Valor requerido</mat-error
        >
        <mat-error *ngIf="form.controls.monto.hasError('min')"
          >La consignación debe ser mayor a 1000 pesos</mat-error
        >
      </mat-form-field>
      <mat-form-field class="my-input">
        <mat-label>Bolsillo</mat-label>
        <mat-icon matPrefix class="my-icon">spoke</mat-icon>
        <mat-select formControlName="nombre">
          <mat-option value="principal">Principal</mat-option>
          <mat-option value="negocio">Negocio</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.nombre.hasError('required')"
          >Valor requerido</mat-error
        >
      </mat-form-field>
      <div class="primary-buttons">
        <button mat-raised-button color="warn" type="button" (click)="return()">
          Cancelar
        </button>
        <button mat-raised-button color="primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
