<main class="main-background">
  <div class="login-register-container">
    <div class="container-header">
      <figure class="img-container">
        <img src="../../../assets/black-logo.png" alt="" />
      </figure>
      <h1 class="container-title">Login</h1>
    </div>
    <div class="container-form">
       <form>
        <mat-form-field class="my-input" color="white">
          <mat-label>Número de teléfono</mat-label>
          <input  matInput placeholder="Ex. 3152994765">
        </mat-form-field>
        <mat-form-field class="my-input" color="white">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
        <button mat-raised-button color="primary">Sign In</button>
       </form>
    </div>
  </div>
</main>
