.main-background {
  .login-register-container {
    background-color: white;
    width: 500px;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
    padding: 2rem;
    margin: 1rem;
    max-width: 100%;
    .img-container {
      margin-bottom: 20px;
    }
    .container-title {
      font-size: 30px;
      margin-bottom: 20px;
      font-weight: 600;
    }
    .container-form {
      width: 100%;
      .my-form {
        padding-top: 2rem;
        .my-input {
          width: 100%;
          .my-icon {
            margin-right: 0.5rem;
          }
        }
        .my-button {
          margin-top: 1rem;
        }
      }
    }
  }
}
