@import url("https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto");
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5;
  font: inherit;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section {
  padding: 80px 0 65px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.primary-button {
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #fff;
  color: #3c9cfd;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
.primary-button:hover {
  color: #3c9cfd;
  background-color: #ffffff;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}
.section {
  .container {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .section-header {
      max-width: 960px;
      color: #fff;
      margin-bottom: 50px;
      text-align: center;
      position: relative;
      .section-subtitle {
        display: inline-block;
        color: #191c1e;
        background: #dbecff;
        text-align: center;
        border-radius: 30px;
        padding: 6px 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 14px;
      }
      .section-title {
        font-size: 30px;
        margin-bottom: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        background-color: #2dfbff;
        background-image: -webkit-linear-gradient(
          bottom right,
          #3c96ff,
          #2dfbff
        );
        background-image: -o-linear-gradient(bottom right, #3c96ff, #2dfbff);
        background-image: linear-gradient(to top left, #3c96ff, #2dfbff);
        position: relative;
        line-height: 1.2;
      }
    }
  }
}
.main-background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
