<div class="action-container">
  <div class="action-header">
    <h1>Historial</h1>
    <p>Aquí podrás observar tu historial de llegadas y envío de tu dinero.</p>
  </div>
  <div class="history">
    <div *ngFor="let valor of historial" class="history-card sacar">
      <div>
        <h1>ID: {{valor.recibe_id}}</h1>
        <p>Fecha: {{valor.fecha}}</p>
      </div>
      <div>
        <p>Monto: {{valor.monto | currency}}</p>
      </div>
    </div>
  </div>
  <button mat-raised-button color="warn" (click)="return()">Volver</button>
</div>
