<div class="action-container">
  <div class="action-header">
    <h1>Historial</h1>
    <p>Aquí podrás observar tu historial de llegadas y envío de tu dinero.</p>
  </div>
  <div class="history">
    <div class="history-card sacar">Hola :D</div>
    <div class="history-card llegar">Hola :D</div>
    <div class="history-card sacar">Hola :D</div>
    <div class="history-card llegar">Hola :D</div>
    <div class="history-card sacar">Hola :D</div>
    <div class="history-card llegar">Hola :D</div>
  </div>
  <button mat-raised-button color="warn" (click)="return()">Volver</button>
</div>
